{% extends "website/base.html" %} 
{% load static %}

{% block relevantInformation %}
    <section class="form-group">
        <form id="create-place-form" class="form-group create-place" action="{% url 'website:createTag' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <h1 class="place-title">Adicionar uma Tag</h1>
            <br/>
            <label  class="create-place-label" for="title">Nome:<br />
                <input class="form-control create-place-input" type="text" name="tagName" placeholder="Dá um nome ao teu lugar" required>
            </label>
            <button type="submit" class="create-place-submit">Criar Tag!</button>
        </form>
    </section>
{% endblock %}


{% block content %}
    <section class="tags-container">
        <h1 class="text" >Tags</h1>
            <ul id="tag-list-create" class="tag-list">
            </ul>                    
    </section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="module" src="{% static 'js/createTag.js'%}"></script>
{% endblock %}