{% extends "website/base.html" %} 

{% block relevantInformation %}
    <section class="form-group">
        <form id="create-place-form" class="form-group create-place" action="{% url 'website:createTag' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <h1 class="place-title">Adicionar uma Tag</h1>
            <br/>
            <label  class="create-place-label" for="title">Nome:<br />
                <input class="form-control create-place-input" type="text" name="tagName" placeholder="Dá um nome ao teu lugar" required>
            </label>
            <button type="submit" class="create-place-submit">Criar Tag!</button>
        </form>
    </section>
{% endblock %}


{% block content %}
    <section class="tags-container">
        <h1 class="text" >Tags</h1>
            <ul class="tag-list">
                {% for tag in tags %}
                    <li class="tag">{{ tag}}</li> 
                {% endfor %}
            </ul>                    
    </section>
{% endblock %}