{% extends "website/base.html" %}
{% load static %}

{% block relevantInformation %}
    {% if isEmpty %}
        <h1 class="message-no-places">{{emptyPlaces}}</h1>
    {%else%}
        <section class="search-input-container">
            <form id="searchForm">
                <input id="search" class="search-input" type="text" placeholder="Pesquisar..." />
                <svg id="search-submit" width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </form>
        </section>
        <section id="places-section" class="places">
        </section> 
    {% endif %}
{% endblock %}

{% block scripts%}
    {{ block.super }}
    <script>
        var static1 = "{% get_static_prefix %}";
        static1 = static1.slice(0,-1)
        var mode1 = "{{ mode1 }}"
    </script>
    <script type="module" src="{% static 'js/index1.js'%}"></script>
{% endblock %}