@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
:root {
  --text-primary:#383838;
  --detail-color:#5BB8FB;
  --primarybg-color:#fcfcfc;
  --secondarybg-color:#386BA7;
  background-color: #fcfcfc;

  color: var(--text-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Varta';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Varta';
  font-weight: 700;
}
h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

header {
  background-color: var(--secondarybg-color);
  color: white;
  height: 7rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,  rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px;
   border-bottom: 1px solid #969696;
}


header .logo {
  font-family: 'Kaushan Script';
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  cursor: pointer;
  color: var(--primarybg-color);
  text-decoration: none;
}
header .logo span {
  color: var(--detail-color);
}

header svg {
  color: var(--detail-color);
  height: 4rem;
}

header nav {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  gap: 50px;
  justify-content: space-between;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: ease 200ms;
}
header nav a:hover {
  color: var(--detail-color);
  text-decoration: underline var(--detail-color);
}

hr{
  border-top: 2px solid rgb(233, 203, 147) ;
  border-radius: 10px;
}

.place-card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 380px;
  background-color: var(--primarybg-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}



.place-card img {
  width: 100%;
  height: 60%;
  border-radius: 6px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 150ms;
}
.place-card img:hover {
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.place-card:has( img:hover ) {
  opacity: 0.9;
}

.place-card p {
  display: inline-block;
  align-items: baseline;
  cursor: pointer;
  width: 100%;
  margin: 10px 0 10px 0 ;
  font-size: 20px;
  gap: 3px;
  color: #383838;
  font-family: "Roboto","Arial",sans-serif
  
}

.place-card:hover p{
  color: var(--secondarybg-color);
}

.place-card p svg {
  width: 20px;
  color: var(--detail-color);
}

.place-card p span {
  font-weight: bold;
}

.rating-container {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
}
.rating-container svg {
  width: 30px;
  height: auto;
  fill: rgb(255, 204, 0);
  color: rgb(255, 204, 0);
}
.rating-container span{
  margin-left: 10px;
  font-size: 18px;
  color: rgb(51, 51, 51) ;
}

.fav-star {
  width: 30px;
  position: absolute;
  right: 15px;
  bottom: 0;
  color: var(--detail-color);
  cursor: pointer;
}
.fav-star:hover {
  color: rgb(245, 237, 20);
  fill: rgb(245, 237, 20);

}


.login {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient( rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.182) ),url('https://upload.wikimedia.org/wikipedia/commons/f/f8/View_of_the_Alfama_quarter_in_Lisbon_Portugal.JPG');
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */}

.login form {
  background-color:white;
  padding: 15px 1rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 2px;
  scale: 1.5;
  box-shadow: rgba(0, 0, 0, 0.35) 20px 5px 15px;
    gap: 10px ;
}
.login form a {
  font-size:x-small;
  width: 100%;
  text-align: end;
  color: var(--detail-color);
  cursor: pointer;
}
.login a:hover {
  text-decoration: underline var(--detail-color);
}

.login form figure {
  display: flex;
  font-family: 'Kaushan Script';
  font-size: 30px;
  justify-content: center;
  color: var(--detail-color);
  align-items: center;
  margin-bottom: 30px;
}
.login form figure svg{
  height: 2rem;
}
.login form figure span {
  color: rgb(87, 87, 87);
}

.input-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 2.75rem;
  position: relative;
}

.form-input{
  border: none;
  padding: 6px 5px 2px 5px;
  cursor: text;
  transition: .25s ease;
  border-bottom:  1px solid rgb(154, 154, 154) ;
  color: rgb(48, 48, 48);
  font-size: 12px;
}

.form-input:focus{
  border:1px solid var(--detail-color);
  border-radius: 6px;
}
.form-label{
  position: absolute;
  top: -7px;
  left: 3px ;
  z-index: 10;
  padding: 0 1px;
  background-color: white;
  color: rgb(163, 163, 163);
  border-radius: 100px;
  font-size: 10px;
  cursor: text;
  transition: .25s ease;
}
.form-input:placeholder-shown ~ .form-label{
  font-size: 14px;
  top: 4px;
  left: 5px;
  background-color: transparent;
}
.form-input:focus ~ .form-label {
  position: absolute;
  top: -7px;
  left: 3px ;
  z-index: 10;
  background-color: white;
  border-radius: 100px;
  font-size: 10px;
  cursor: text;
  transition: .25s ease;
  color: var(--detail-color);
}
.form-input:focus{
  outline: none;
}

.login button{
  background-color: var(--detail-color);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.login button:hover {
  background-color: var(--secondarybg-color);
}

@media (min-width: 768px) {
  .login button {
    padding: 5px 5px;
  }
}


.search-input {
  height: 100%;
  width: 100%;
  border: solid 1px rgb(170, 170, 170);
  border-radius: 6px;
  padding: 7px 10px ;
  outline: none;
  font-size: 16px;
  color: rgb(69, 69, 69);
}
.search-input::placeholder {
  color: rgb(170, 170, 170);
}
.search-input:focus {
  border: 2px solid var(--detail-color);
}
.search-input-container{
  margin: 2rem 0 0 11rem;
  width: 400px;
  height: 30px;
  position: relative;
  height: 30px;
}
.search-input-container svg{
  position: absolute;
  color: var(--detail-color);
  cursor: text;
  right: 8px;
  top: 1px;
  height: 28px ;
  width: 28px;
}

.places {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 2rem 10rem
}

.place {
  display: flex;
  padding: 0 1rem;
  width: 100%;
  justify-content: space-around;
  gap: 6rem;
}
.place-title {
  color: #000000;
}

.place-image-container{
  position: relative;
  flex: 1;
  border-radius: 10px;
  max-height: 446px;
  max-width: 520px;
}
.place-image-container img{
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 4/3;
}
.place-image-container .heart{
  position: absolute;
  right: 25px;
  top: 15px;
  padding: 4px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 100%;
  width: 28px;
  height: auto;
}

.place aside {
  flex: 1;  
}
.place-location {
  font-weight: 200;
  text-decoration: underline;
  font-size: 15px;
  color: #4a4a4a;
}
.place-location svg {
  width: 14px;
  margin-top:10px ;
  margin-right: 5px;
  color: var(--detail-color);
}
.place aside .rating-container{
  margin-top: 2rem;
  font-weight: lighter;
  color: #383838;
}

.place aside p {
  line-break: normal;
  cursor: pointer;
  color: #333;
  margin: 15px  0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5; 
}

.tag-list {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-top: 10px;
}

.tag {
  padding: 4px 10px 1px 10px;
  background-color: rgb(233, 203, 147) ;
  border-radius:20px ;
}






  
#username-text {
  font-weight: bolder;
  color: var(--detail-color);
  text-decoration: none;
}

#places-container {
  margin: 2rem 1rem;
  padding: 0 9rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 275px),1fr));
  gap: 10px;
}

