@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: auto;
  /* This is annoying me */
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #fcfcfc;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --text-primary: #383838;
  --detail-color: #5bb8fb;
  --primarybg-color: #fcfcfc;
  --secondarybg-color: #386ba7;
  background-color: #fcfcfc;

  color: var(--text-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  list-style: none;
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}
h6 {
  font-size: 18px
}

h1,
h2,
h3,
h4,
h5,h6 {
  font-family: "Varta";
  font-weight: 700;
}
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

header {
  background-color: var(--secondarybg-color);
  color: white;
  height: 7rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px;
  border-bottom: 1px solid #969696;
}

header .logo {
  font-family: "Kaushan Script";
  height: 100%;
  width: 100%;
  margin-top: 10px;
  color: var(--primarybg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  cursor: pointer;
}

header .logo span {
  color: var(--detail-color);
  cursor: pointer;

}

header svg {
  color: var(--detail-color);
  height: 2.5rem;
}

header .menu-toggle{
  position: absolute;
  right: 10px;  
  margin-top: 10px;
  color: var(--detail-color);
  width: 2.5rem;
  height: auto;
}

.header-menu  {
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 500;
  z-index: 900;
  position: absolute;
  top: 0;
  right: 0;
  transition: all ease-out 500ms;  
  background-color: rgba(255, 255, 255, 0.916);

  & figure {
    width: 100%;
    height: 15rem;
    display:flex ;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: var(--secondarybg-color);
    & svg {
      width: 3rem;
      animation: spin 2s linear infinite;
    }
  }

  & .close-button {
    position: absolute;
    width: 2.5rem;
    color: rgb(208, 59, 59);
    top: 25px;
    right: 18px;
  }

  & .menu-button {
    width: 100%;
    height: 6rem;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondarybg-color);
    color: var(--primarybg-color);
    border: none;
  }
}

.header-menu.hidden {
  right: -110%;
}

.link {
  color: var(--detail-color);
  font-size: 18px;
  margin-left: auto;
}


.rating-container {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.rating-container svg {
  width: 30px;
  height: auto;
  fill: rgb(255, 204, 0);
  color: rgb(255, 204, 0);
}

.rating-container span {
  margin-left: 10px;
  font-size: 18px;
  color: rgb(51, 51, 51);
}

.fav-star {
  width: 30px;
  position: absolute;
  right: 15px;
  bottom: 0;
  color: var(--detail-color);
  cursor: pointer;
}

.fav-star:hover {
  color: rgb(245, 237, 20);
  fill: rgb(245, 237, 20);
}

.login {
  width: 100lvw;
  height: 100vh;
  padding: 10rem 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primarybg-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.182)),
  url("https://upload.wikimedia.org/wikipedia/commons/f/f8/View_of_the_Alfama_quarter_in_Lisbon_Portugal.JPG");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


.login form {
  background-color: white;
  padding: 15px 1rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 2px;
  scale: 1.5;
  box-shadow: rgba(0, 0, 0, 0.35) 20px 5px 15px;
  gap: 10px;
}

.login form a {
  font-size: x-small;
  width: 100%;
  text-align: end;
  color: var(--detail-color);
  cursor: pointer;
}

.login a:hover {
  text-decoration: underline var(--detail-color);
}

.login form figure {
  display: flex;
  font-family: "Kaushan Script";
  font-size: 30px;
  justify-content: center;
  color: var(--detail-color);
  align-items: center;
  margin-bottom: 30px;
}

.login form figure svg {
  height: 2rem;
}

.login form figure span {
  color: rgb(87, 87, 87);
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 2.75rem;
  position: relative;
}

.form-input {
  border: none;
  padding: 6px 5px 2px 5px;
  cursor: text;
  transition: 0.25s ease;
  border-bottom: 1px solid rgb(154, 154, 154);
  color: rgb(48, 48, 48);
  font-size: 12px;
}

.form-input:focus {
  border: 1px solid var(--detail-color);
  border-radius: 6px;
}

.form-label {
  position: absolute;
  top: -7px;
  left: 3px;
  z-index: 10;
  padding: 0 1px;
  background-color: white;
  color: rgb(163, 163, 163);
  border-radius: 100px;
  font-size: 10px;
  cursor: text;
  transition: 0.25s ease;
}

.form-input:placeholder-shown~.form-label {
  font-size: 14px;
  top: 4px;
  left: 5px;
  background-color: transparent;
}

.form-input:focus~.form-label {
  position: absolute;
  top: -7px;
  left: 3px;
  z-index: 10;
  background-color: white;
  border-radius: 100px;
  font-size: 10px;
  cursor: text;
  transition: 0.25s ease;
  color: var(--detail-color);
}

.form-input:focus {
  outline: none;
}

.login button {
  background-color: var(--detail-color);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.login button:hover {
  background-color: var(--secondarybg-color);
}

@media (min-width: 768px) {
  .login button {
    padding: 5px 5px;
  }
}

.search-input {
  height: 100%;
  width: 100%;
  border: solid 1px rgb(170, 170, 170);
  border-radius: 6px;
  padding: 7px 10px;
  outline: none;
  font-size: 16px;
  color: rgb(69, 69, 69);
}

.search-input::placeholder {
  color: rgb(170, 170, 170);
}

.search-input:focus {
  border: 2px solid var(--detail-color);
}

.search-input-container {
  width:80%;
  height: 30px;
  position: relative;
  height: 30px;
  margin: 3rem 10px 0 10px;
  
}

.search-input-container svg {
  position: absolute;
  color: var(--detail-color);
  cursor: text;
  right: 8px;
  top: 1px;
  height: 28px;
  width: 28px;
}

.places {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 10px;
}

.place {
  width: 100%;
  padding: 0 10px;
}

.place-title {
  font-size: 30px;
  margin-bottom:-5px;
  color: var(--text-primary);
}

.place-image-container {
  position: relative;
  margin-top: 15px;
  border-radius: 10px;
  max-height: 446px;
  max-width: 520px;
}

.place-image-container img {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 4/3;
}

.place-image-container .heart {
  position: absolute;
  cursor: pointer;
  right: 25px;
  top: 15px;
  padding: 4px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 100%;
  width: 28px;
  height: auto;
}

.place aside {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  & .rating-container {
    font-weight: lighter;
    color: #383838;
    justify-content: right;
    scale: 0.9;
  }
}

.place-location {
  font-weight: 200;
  text-decoration: underline;
  white-space: nowrap;
  font-size: 15px;
  color: #4a4a4a;
}

.place-location svg {
  height: 14px;
  width: 14px;
  margin-right: 5px;
  color: var(--detail-color);
}


#username-text {
  font-weight: bolder;
  text-decoration: none;
}

#places-container {
  margin: 2rem 1rem;
  padding: 0 9rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 275px), 1fr));
  gap: 10px;
}


.message-no-places {
  margin-top: 30px;
  text-align: center;
  color: var(--secondarybg-color);
}


.text {
  color: var(--text-primary);
}

.tags-container {
  padding: 1% 8%;
}

.tag-list {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-top: 10px;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 10px 1px 10px;
  background-color: rgb(233, 203, 147);
  border-radius: 20px;
}

.btn-svg {
  background-color: transparent;
  border: 0;
  width: 30px;
  height: 30px;
}

.svg-child {
  width: inherit;
  height: fit-content;
}

#tag-group {
  display: flex;
  flex-wrap: wrap;

  &>* {
    margin-right: 5px;
    padding: 10px;
    margin-top: 6px;
  }
}

.btn-detalhe {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--secondarybg-color);
  font-weight: bold;
  height: 30px;

  &>svg {
    width: inherit;
    height: fit-content;
  }
}


.place-detail {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  & hr {
    border-top: 1px solid var(--detail-color);
    margin: 10px 0 2rem 0;
  }
}

.status-favorite {
  display: flex;
  width: 100%;
  align-items: center;

  & ul {
    flex-grow: 1;
  }

  
   
}


.place-detail-title ul li{
  display: flex;
  align-items: start;
  gap: 5px;
  font-size: 18px;
}


.place-detail-title ul svg{
  width: 21px;
  height: auto;
}

.button-like {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  width: 3rem;
  height:3rem;
  margin-left: auto;
  text-decoration: none;
  padding: 10px ;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
  & svg  {
   
    
  }
}


.button-like .fa{
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
}

.button-like:focus .fa {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
  background-color: transparent;
}

.button-like:hover .fa {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

.place-detail img {
  object-fit:cover;
  margin-top: 2rem;
  border-radius: 10px;
  max-height: 400px;
  width: 100%;
  aspect-ratio: 4/3;
}

.place-detail-info-container {
  margin:2rem 0 ;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  & article {
    flex: 1;

    & p {
      text-indent: 50px;
      color: #2a2a2a;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      text-align: justify;
      margin-bottom: 2rem;
    }

    & ul {
      overflow-y: auto;
      & li {
        margin: 1rem 0;
      }

      & figure{
        --profile:40px;
        display: flex;
        align-items: center;
        height: var(--profile);
        gap: 10px;
        margin-bottom: 5px;
        & img {
          margin: 0;
          width: var(--profile);
          height: 100%;
          border-radius: 100%;
        }
        & .rating-container svg {
          height: 20px;
          margin-right: -10px;
        }
      }

    }
  
  }
  
  & .place-detail-ratings{
    max-width: 28%;
    min-width: 286px;
    max-height:max-content;
    align-self: flex-start;
    flex-grow: 0; 
    flex-shrink: 1; 
    padding: 1rem 2rem ;
    border-radius: 15px;
    border: 1px solid rgba(90, 90, 90, 0.727);
    
    & .rating-container {
      margin-top: 1rem;
      position: relative;
      align-items: flex-start;
      & .reviews-number{
        position: absolute;
        bottom: 2px;
        right: 12%;
      }
      & .big-rating-number{
        font-size: 50px;
        font-weight: bold;
        margin-right: 20px;
      }
    }
    & ul {
      width: 100%;
    }
  
  }


}


.remove-input-default {
  background: transparent;
  border: none;
}


.place-detail-header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: var(--text-primary);
  box-shadow: none;
  border: none;
  padding-left: 0;
}


.main-page-title {
  margin-bottom: -3rem ; 
}

.titles {
  font-size: 5vw;
}

.visible-input{
  border: 1px solid var(--text-primary);
}

.container-flex-center {
  display: flex;
  align-items: center;
  padding-left: 2vw;
}

#description-place {
  margin-top: 1rem;
}